h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 90.4%;

    letter-spacing: -0.01rem;

    color: #ff9900;
}

* {
    font-family: "Montserrat", sans-serif;
    color: #010101;
}

button.btn {
    background-color: #ff9900;
    transition: 500ms;
}

button.btn:hover {
    border: 1px solid #ff9900;
    background-color: transparent;
}


a {
    text-decoration: none;
    color: #010101;
}

a:hover {
    color: #010101;
}